.b-info
{
    font-size: 12px;

    position: relative;

    line-height: 1.3;
}

.b-info a
{
    text-decoration: none;
}

.b-info a:hover
{
    color: #f00;
    text-decoration: underline;
}

.b-info__logo
{
    position: absolute;
    top: 124px;
    left: 27px;
}

.b-info__logo .b-image
{
    width: 110px;
    height: 48px;
}

.b-info__text
{
    position: absolute;
    top: 30px;
    left: 165px;

    width: 300px;
}

.b-info__title
{
    height: 98px;
    margin-bottom: 10px;
}

.b-info__name
{
    font-size: 25px;

    position: relative;
    left: -0.04em;

    margin: 0;

    font-weight: normal;
}

.b-info__position
{
    font-size: 13px;

    display: block;

    font-weight: normal;
}

.b-info__person,
.b-info__company
{
    margin: 0 0 10px;
}

.b-info__company abbr
{
    border: none;
}

.b-info__company a
{
    color: #000;
}

.b-info__person a
{
    color: #2879ac;
}

