html,
body
{
    height: 100%;
}

.b-page
{
    font: 12px/1.3 Arial, Helvetica, sans-serif;

    position: relative;

    width: 100%;
    min-width: 600px;
    min-height: 360px;
    margin: 0;
    padding: 0;

    color: #000;
    background: #eee;
}
