@font-face {
    font-family: 'TextbookNew';
    src: url('/blocks/i-font/_face/i-font_face_textbook-new.eot');
    src: url('/blocks/i-font/_face/i-font_face_textbook-new.eot?#iefix') format('embedded-opentype'),
         url('/blocks/i-font/_face/i-font_face_textbook-new.woff') format('woff'),
         url('/blocks/i-font/_face/i-font_face_textbook-new.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.i-font_face_textbook-new {
    font-family: 'TextbookNew', Arial, sans-serif;
}