.b-card-layout
{
    position: relative;

    width: 560px;
    height: 320px;
}

.b-card-layout__left,
.b-card-layout__top,
.b-card-layout__bottom
{
    position: absolute;
    overflow: hidden;
}

.b-card-layout__left
{
    z-index: 2;

    width: 475px;
    height: 320px;

    background: #eee;
}

.b-card-layout__text
{
    position: relative;
    top: 10px;
    left: 10px;

    width: 465px;
    height: 300px;

    background: #fff;

    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.b-card-layout__top,
.b-card-layout__bottom
{
    left: 475px;

    width: 85px;
    height: 161px;
    padding: 0;

    background: #eee;
}

.b-card-layout__bottom
{
    z-index: 1;
    top: 100%;

    margin-top: -160px;

}

.b-card-layout__arrow
{
    position: absolute;
    left: 0;

    width: 0px;
    height: 0px;
}

.b-card-layout__arrow .b-card-layout__shape
{
    position: absolute;
    left: 0;

    width: 75px;
    height: 150px;

    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.b-card-layout__top .b-card-layout__arrow
{
    -webkit-transform: skew(26.3deg);
    -moz-transform: skew(26.3deg);
    -o-transform: skew(26.3deg);
    -ms-transform: skew(26.3deg);
    transform: skew(26.3deg);
}

.b-card-layout__top .b-card-layout__arrow,
.b-card-layout__top .b-card-layout__arrow .b-card-layout__shape
{
    bottom: 0;
}

.b-card-layout__bottom .b-card-layout__arrow
{
    -webkit-transform: skew(-26.3deg);
    -moz-transform: skew(-26.3deg);
    -o-transform: skew(-26.3deg);
    -ms-transform: skew(-26.3deg);
    transform: skew(-26.3deg);
}

.b-card-layout__bottom .b-card-layout__arrow,
.b-card-layout__bottom .b-card-layout__arrow .b-card-layout__shape
{
    top: 0;
}
